
<h1>Welcome old jQuery user</h1>

<!-- a static text, but you can get it from API, generate the message, and so on... -->
<div class="row">
  <div class="col-6">
    <p>This is my home page, and you will be able to navigate to blog post using the list on the right.</p>
    <p>This post-list is a <code>component</code> that takes data from API (json-server on port 3000).</p>
    <p>It also use <code>routerLink</code> to not fetch entire page, and only refresh page zones that need to be displayed.</p>
  </div>

  <!-- the component to display post list -->
  <app-posts class="col-6"></app-posts>

</div>
